.r-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.r-col-1,
.r-col-2,
.r-col-3,
.r-col-4,
.r-col-5,
.r-col-6,
.r-col-7,
.r-col-8,
.r-col-9,
.r-col-10,
.r-col-11,
.r-col-12,
.r-col,
.r-col-auto,
.r-col-sm-1,
.r-col-sm-2,
.r-col-sm-3,
.r-col-sm-4,
.r-col-sm-5,
.r-col-sm-6,
.r-col-sm-7,
.r-col-sm-8,
.r-col-sm-9,
.r-col-sm-10,
.r-col-sm-11,
.r-col-sm-12,
.r-col-sm,
.r-col-sm-auto,
.r-col-md-1,
.r-col-md-2,
.r-col-md-3,
.r-col-md-4,
.r-col-md-5,
.r-col-md-6,
.r-col-md-7,
.r-col-md-8,
.r-col-md-9,
.r-col-md-10,
.r-col-md-11,
.r-col-md-12,
.r-col-md,
.r-col-md-auto,
.r-col-lg-1,
.r-col-lg-2,
.r-col-lg-3,
.r-col-lg-4,
.r-col-lg-5,
.r-col-lg-6,
.r-col-lg-7,
.r-col-lg-8,
.r-col-lg-9,
.r-col-lg-10,
.r-col-lg-11,
.r-col-lg-12,
.r-col-lg,
.r-col-lg-auto,
.r-col-xl-1,
.r-col-xl-2,
.r-col-xl-3,
.r-col-xl-4,
.r-col-xl-5,
.r-col-xl-6,
.r-col-xl-7,
.r-col-xl-8,
.r-col-xl-9,
.r-col-xl-10,
.r-col-xl-11,
.r-col-xl-12,
.r-col-xl,
.r-col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.r-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.r-col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.r-col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.r-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.r-col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.r-col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.r-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.r-col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.r-col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.r-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.r-col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.r-col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.r-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.r-offset-1 {
  margin-left: 8.333333%;
}

.r-offset-2 {
  margin-left: 16.666667%;
}

.r-offset-3 {
  margin-left: 25%;
}

.r-offset-4 {
  margin-left: 33.333333%;
}

.r-offset-5 {
  margin-left: 41.666667%;
}

.r-offset-6 {
  margin-left: 50%;
}

.r-offset-7 {
  margin-left: 58.333333%;
}

.r-offset-8 {
  margin-left: 66.666667%;
}

.r-offset-9 {
  margin-left: 75%;
}

.r-offset-10 {
  margin-left: 83.333333%;
}

.r-offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .r-col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .r-row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .r-row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .r-row-cols-sm-3 > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .r-row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .r-row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .r-row-cols-sm-6 > * {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .r-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .r-col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .r-col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .r-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .r-col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .r-col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .r-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .r-col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .r-col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .r-col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .r-col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .r-col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .r-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .r-offset-sm-0 {
    margin-left: 0;
  }
  .r-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .r-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .r-offset-sm-3 {
    margin-left: 25%;
  }
  .r-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .r-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .r-offset-sm-6 {
    margin-left: 50%;
  }
  .r-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .r-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .r-offset-sm-9 {
    margin-left: 75%;
  }
  .r-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .r-offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .r-col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .r-row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .r-row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .r-row-cols-md-3 > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .r-row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .r-row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .r-row-cols-md-6 > * {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .r-col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .r-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .r-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .r-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .r-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .r-col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .r-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .r-col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .r-col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .r-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .r-col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .r-col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .r-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .r-offset-md-0 {
    margin-left: 0;
  }
  .r-offset-md-1 {
    margin-left: 8.333333%;
  }
  .r-offset-md-2 {
    margin-left: 16.666667%;
  }
  .r-offset-md-3 {
    margin-left: 25%;
  }
  .r-offset-md-4 {
    margin-left: 33.333333%;
  }
  .r-offset-md-5 {
    margin-left: 41.666667%;
  }
  .r-offset-md-6 {
    margin-left: 50%;
  }
  .r-offset-md-7 {
    margin-left: 58.333333%;
  }
  .r-offset-md-8 {
    margin-left: 66.666667%;
  }
  .r-offset-md-9 {
    margin-left: 75%;
  }
  .r-offset-md-10 {
    margin-left: 83.333333%;
  }
  .r-offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .r-col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .r-row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .r-row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .r-row-cols-lg-3 > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .r-row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .r-row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .r-row-cols-lg-6 > * {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .r-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .r-col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .r-col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .r-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .r-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .r-col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .r-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .r-col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .r-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .r-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .r-col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .r-col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .r-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .r-offset-lg-0 {
    margin-left: 0;
  }
  .r-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .r-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .r-offset-lg-3 {
    margin-left: 25%;
  }
  .r-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .r-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .r-offset-lg-6 {
    margin-left: 50%;
  }
  .r-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .r-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .r-offset-lg-9 {
    margin-left: 75%;
  }
  .r-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .r-offset-lg-11 {
    margin-left: 91.666667%;
  }
}
