//colors

$white: #ffffff;
$primary: #d7ecff;
$secondary: #99bbda;
$blue: #00c2ff;
$aqua: #81d9ff;
$dark: #464646;
$pink: #ffbfbf;
$grey-1: #6f94b6;
$grey-2: #6f94b6;
$grey-3: #3f7a88;
$grey-4: #aaaaaa;
$grey-5: #8c8c8c;

//shadows
$default-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
